<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Satyam Sovan Mishra</title>

  <meta name="description" content="Satyam Sovan Mishra's Portfolio">
  <meta name="og:description" content="Satyam Sovan Mishra's Portfolio">
  <meta name="keywords" content="satyamsovan.com, Satyam Sovan Mishra, satyamsovan123, personal website, cv, angul">
  <meta name="author" content="Satyam Sovan Mishra">

  <link rel="icon" href="assets/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <section class="container nv">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="https://write-it-app.herokuapp.com/">blog</a>
            <a class="nav-link" href="mailto:msatyamsovan@gmail.com">contact</a>
          </div>
        </div>
      </div>
    </nav>
    <img class="one" src="assets/bg-el/one.png" alt="first ui illustration">
  </section>

  <section class="container hero">
    <img class="two" src="assets/bg-el/two.png" alt="second ui illustration">
    <img class="three" src="assets/bg-el/three.png" alt="third ui illustration">
    <div class="main">
      <div class="profile-pic">
        <img class="profile" src="assets/profile.png" alt="own avatar">
      </div>
      <div class="heading">
        <h1>Hi <div class="emo">👋</div>, I’m Satyam Sovan.</h1>
      </div>
      <div class="about">
        <p>I'm a developer, a foodie, a sort of cinematographer. I love to create apps, from making mockups and assets, to creating promos, to the app itself.
           Truth be told, I'm still learning and currently, I’m exploring iOS development.</p>
        <a href="https://drive.google.com/file/d/1bnu-hD35tj6q12WZhgB50MAS9jKqIAnK/view?usp=sharing"><button type="button" class="btn wk-btn btn-custom btn-secondary">Résumé</button></a>

      </div>
      <div class="social-tp">
        <a href="https://www.github.com/satyamsovan123/"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/satyamsovan123/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.twitter.com/satyamsovan123/"><i class="fab fa-twitter-square"></i></a>

      </div>
    </div>
  </section>

  <section class="container generic-div">
    <div class="sec-head">
      <h1 class="grad">SKILLS</h1>
    </div>
    <div class="circles-bg-1"></div>

    <div class="skill-div row">
      <div title="Development & Coding" class="list dev-sk col-lg-6">
        <h1 style="float: left; padding-bottom: 2%;">Development</h1>
        <div title="HTML, CSS, JS, ExpressJS, EJS" class="sk-info">
          <img class="skill-pic" src="assets/web.png" alt="web development icon">
          <p class="sk-nm">Web Development</p>
        </div>
        <div title="Python, Jupyter Notebooks" class="sk-info">
          <img class="skill-pic" src="assets/python.png" alt="python icon">
          <p class="sk-nm">Python</p>
        </div>

        <div title="NodeJS, Backend" class="sk-info">
          <img class="skill-pic" src="assets/node.png" alt="nodejs icon">
          <p class="sk-nm">NodeJS</p>
        </div>

        <div title="MongoDB, Mongoose" class="sk-info">
          <img class="skill-pic" src="assets/mongo.png" alt="mongodb icon">
          <p class="sk-nm">MongoDB</p>
        </div>

        <div title="SQL" class="sk-info">
          <img class="skill-pic" src="assets/sql.png" alt="sql icon">
          <p class="sk-nm">MySQL</p>
        </div>

        <div title="GitHub, VCS" class="sk-info">
          <img class="skill-pic" src="assets/git.png" alt="github icon">
          <p class="sk-nm">GitHub</p>
        </div>

        <div title="API, REST APIs" class="sk-info">
          <img class="skill-pic" src="assets/api.png" alt="api icon">
          <p class="sk-nm">API</p>
        </div>

        <div title="Heroku, Deployment" class="sk-info">
          <img class="cavus skill-pic" src="assets/heroku.png" alt="heroku icon">
          <p class="sk-nm">Heroku</p>
        </div>

        <div title="AWS Cloud" class="sk-info">
          <img class="skill-pic" src="assets/aws.png" alt="aws icon">
          <p class="sk-nm">AWS (EC2)</p>
        </div>


      </div>

      <div title="Other tools" class="list oth-sk col-lg-6">
        <h1 style="float: left; padding-bottom: 2%;">Other tools</h1>
        <div title="Video Editing" class="sk-info">
          <img class="skill-pic" src="assets/fcp.png" alt="">
          <p class="sk-nm">Final Cut Pro</p>
        </div>
        <div title="3D Photo Rendering" class="sk-info">
          <img class="skill-pic" src="assets/dimension.png" alt="adobe dimension icon">
          <p class="sk-nm">Adobe Dimension</p>
        </div>
        <div title="Photo Editing" class="sk-info">
          <img class="skill-pic" src="assets/ps.png" alt="adobe photoshop icon">
          <p class="sk-nm">Adobe Photoshop</p>
        </div>
        <div title="UI Design" class="sk-info">
          <img  class="cavus skill-pic" src="assets/figma.png" alt="figma icon">
          <p class="sk-nm">Figma</p>
        </div>
        <div title="UI Design" class="sk-info">
          <img class="skill-pic" src="assets/sketch.png" alt="sketch icon">
          <p class="sk-nm">Sketch</p>
        </div>
      </div>
    </div>

  </section>

  <section class="container generic-div">
    <div class="sec-head">
      <h1 class="grad" style="font-family: sans-serif;">WORKS</h1>
    </div>
    <!-- <div class="circles-bg-2"></div> -->
    <div class="trig-elem">
    <div class="list work-div row">
      <div class="left left-an col-lg-6">
        <h1>COVID 19 Stats</h1>
        <p>COVID 19 Stats is an open-source project for getting stats for India on COVID19.
          It’s deployed on Heroku. It shows vaccination details and statewise stats for the COVID19 virus.
          It uses a CSV file as a database provided by generous people at <a href="https://www.covid19india.org/">COVID19 India</a>.
          At it's core, it leverages the public API which is provided by the Indian government.</p>
        <a href="https://covid19ind-stats.herokuapp.com"><button type="button" class="btn wk-btn btn-custom btn-secondary">Learn More</button></a>

      </div>
      <div title="COVID19 Stats" class="right right-an col-lg-6">
        <img  class="proj-pic" src="assets/covid19.png" alt="covid19 website in action">
      </div>
    </div>
    </div>

    <div class="trig-elem">
    <div class="list work-div row">
      <div class="left left-an col-lg-6">
        <h1>yours-truly</h1>
        <p>yours-truly is a free to use online portfolio maker.
          It magically creates beautiful and responsive portfolios based on users input. It stores salted and encrypted passwords in a cloud database.
          Every users gets a shareable link to their portfolio which is accessible by everyone.</p>
        <a href="https://yours-truly.herokuapp.com/"><button type="button" class="btn wk-btn btn-custom btn-secondary">Learn More</button></a>

      </div>
      <div title="yours truly." class="right right-an col-lg-6">
        <img class="proj-pic" src="assets/yours-truly.png" alt="yours truly webapp in action">
      </div>
    </div>
    </div>
    <div class="trig-elem">
    <div class="list work-div row">
      <div class="left left-an col-lg-6">
        <h1>write-it</h1>
        <p>write-it is a free blogging webapp. It encourages users to write their thoughts,
          and share it with world. The focus here was to create an intuitive, beautiful, and responsive UI. And neumorphism was the answer. Check out what others are sharing below!</p>

        <a href="https://write-it-app.herokuapp.com/"><button type="button" class="btn wk-btn btn-custom btn-secondary">Learn More</button></a>

      </div>
      <div title="write it" class="right right-an col-lg-6">
        <img class="proj-pic" src="assets/write-it.png" alt="chrome showing write it webapp">
      </div>
    </div>
    </div>
    <div class="trig-elem">
    <div class="list last-div row">
      <div class="left col-lg-6">
        <h1>sanfoundry-dl</h1>
        <p>sanfoundry-dl helps in downloading questions and answers from sanfoundry.com.
          The python script basically scrapes the entire website for the questions and answers.
          It has proven to be very helpful for many students.</p>
        <a href="https://github.com/satyamsovan123/sanfoundry-dl"><button type="button" class="btn wk-btn btn-custom btn-secondary">Learn More</button></a>

      </div>
      <div title="sanfoundry-dl" class="right col-lg-6">
        <img class="proj-pic" src="assets/sanfoundry-dl.png" alt="console running sanfoundry-dl">
      </div>
    </div>
    </div>

  </section>

  <footer class="ftr">
    <div class="social-btm">
      <a href="https://www.github.com/satyamsovan123/"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/satyamsovan123/"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.twitter.com/satyamsovan123/"><i class="fab fa-twitter-square"></i></a>
    </div>
  </footer>


  <script src="index.js" charset="utf-8"></script>
</body>

</html>
