*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-transition: all 0.4s ease;
  transition: all 0.5s ease !important;
  height: 100%;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  background-color: #181A1B;
  padding: 1%;

  background-image: url("assets/bg-el/bg-div.png");

}


.navbar-nav > a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.navbar-nav > a:hover {
  color: #fff;
}

.navbar-nav > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0.05s;
}

.navbar-nav  > a:hover::before {
  text-align: center;
  margin: auto;
  visibility: visible;
  transform: scaleX(1);
}

.nav-link{
  color: white !important;
  margin-right: 5%;
}

.navbar-collapse{
  justify-content: center;
}

.navbar-toggler{
  justify-content: flex-end;
  /* margin-top: 20px; */
}

.navbar .container-fluid{
  justify-content: flex-end !important;
}

.nav-link{
  font-size: 24px;
  font-weight: 300 !important;
  text-align: right;
}

.hamburger{
  opacity: 0.2;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: 0.5s ease;
}

.emo{
  -webkit-transform: rotate(10deg);
  display: inline-block;
}




.one{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  z-index: -1;
}

.two{
  position: absolute;
  top: 10%;
  left: 2%;
  width: 1.5%;
  z-index: -1;
}

.three{
  position: absolute;
  top: 70%;
  left: 0;
  width: 5%;
  z-index: -1;
}

.profile-pic{
  text-align: center;
}

.hero, .generic-div{
  margin-top: 5%;
}

.profile{
  position: relative;
  margin: auto;
  width: 20%;
}

.heading{
  padding-top: 5%;
}

.heading, .about{
  margin: auto;
  text-align: center;
  width: 70%;
}

h1{
  font-size: 48px;
  font-weight: 700 !important;
}

p{
  padding-top: 1%;
  line-height: 1.8;
  font-size: 24px;
  font-weight: 300 !important;
}

.about button{
  transition: 0.3s ease;
  padding: 1.5% 6%;
  margin-top: 1%;
}

a{
  color: white;
  /* text-decoration: none; */
}
a:hover{
  color: white;
}

a i{
  color: white;
  text-decoration: none;
}

a:hover i{
  color: white;
  text-decoration: none;
}

button a{
  text-decoration: none;
  color: black;
}

button a:hover{
  text-decoration: none;
  color: black;
}

.btn-custom{
  border: none;
  border-radius: 5px;

  font-size: 24px;
  color: black;
  background: #CFCFCF;
}

.btn-custom:hover{
  color: black;
  background: #CFCFCF;
}

.social-btm{
  display: none;
}

.social-tp{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  /* bottom: 10%; */
  top: 40%;
  right: 2%;
}

.nav-link{
  margin-right: 0;
}

.social-btm{
  display: none;
}

.social-tp i{
  font-size: 32px;
  /* padding: 45%; */
  margin: 45% 0%;
}

.sec-head{
  text-align: center;
}

.sec-head h1{
  /* position: absolute; */
  /* background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.60) 30%, rgba(24, 26, 27, 0.40) 50%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 700;
  font-size: 128px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #cfcfcf;
}

.grad{
  /* background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.60) 30%, rgba(24, 26, 27, 0.40) 50%); */
}

.list{
  margin-top: 5%;
  /* width: 100%; */
  background-image: linear-gradient(163deg, rgba(255,255,255,0.00) 35%, rgba(240,240,240,0.09) 97%);
  box-shadow: inset 0.5px 0.5px 1px 0 #FFFFFF;
  border-radius: 20px;
  /* height: 300px; */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* background-image: url("assets/bg-el/bg-div.png"); */
  padding: 5%;
}

.trig-elem{
  /* position: absolute; */
  /* top: 0px; */
  /* margin-top: -20%; */
  /* display: none; */
}
/* .circles-bg-1{
  margin-top: 70%;
} */

.skill-div {
  margin-top: 5%;
}

.circles-bg-1:after{
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#EEEEEE 45%, #181A1B 100%);
  opacity: 0.4;
  clip-path: circle(10% at 95% 80%);
  z-index: -3;
  /* transform: rotate(-30deg); */
}

.cavus{
  width: 20px;
}


.circles-bg-1:before{
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#EEEEEE 15%, #181A1B 90%);
  opacity: 0.4;
  clip-path: circle(5% at 5% 80%);
  z-index: -3;
  /* transform: rotate(-30deg); */
}

.left{
  margin: auto;
}

.right{
  text-align: center;
  margin: auto;
}

.proj-pic{
  position: relative;
  z-index: -1;
  width: 90%;
}

.wk-btn {
  transition: 0.3s ease;
  /* padding: 2% 6%; */
  margin-top: 1%;
}

.dev-sk, .oth-sk{
  /* margin-left: auto;
  margin-right: auto; */
  width: 40%;
  margin: auto;
}

.sk-nm{
  line-height: 2;
}

.sk-info{
  display: inline-block;
  margin: 1% 1% 1% 1%;
}

.skill-pic{
  /* height: 30px; */
  position: relative;
  z-index: -4;
  width: 25px;
}

.sk-info p{
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
}

.ftr{
  /* padding-bottom: 2%; */
  text-align: center;
    padding: 5% 0%;
}

/* RESPONSIVENESS */

@media (min-width: 1000px){
  /* .last-div{
    margin-bottom: 25%
  } */
}
@media (max-width: 1200px){
  .list{
    padding: 4%;
  }
  h1{
    font-size: 40px;
  }
  p{
    font-size: 20px;
    /* line-height: 1.7; */
  }
  .nav-link{
    font-size: 20px;
  }
}

@media (max-width: 991px){
  .list{
    padding: 5%;
    /* width: 45%; */
  }
  .skill-div .list{
    width: 45%;
  }
  .one{
    width: 25%;
    opacity: 0.2;
  }

  .two{
    width: 2.5%;
    opacity: 0.2;
  }
  .left{
    text-align: center;
  }

  .proj-pic{
    margin: 2%;
    margin-top: 3%;
    padding: 2%;
  }

  .left p{
    text-align: center;
  }

  .navbar-nav  > a:hover::before {
    visibility: hidden;
    transform: scaleX(1);
  }

  .three{
    width: 6%;
    opacity: 0.2;
  }
  .profile{
    width: 30%;
  }
  h1{
    font-size: 38px;
  }
  p{
    font-size: 20px;
    line-height: 1.7;
  }
  .nav-link{
    font-size: 20px;
  }
}

@media (max-width: 768px){
  .skill-div .list{
    padding: 7%;
    width: 90%;
  }
  .navbar .container-fluid{
    padding-right: 0px;
  }
  .dev-sk{
    margin-bottom: 5%;
  }
  .social-tp{
    right: 5%;
  }
  .skill-div .list h1{
    float: none !important;
  }
  .skill-div{
    /* width: 100%; */
  }
  .social-tp{
    display: none;
  }

  .social-btm{
    display: contents;

  }
  .social-btm a{
    text-align: center;
    font-size: 32px;
    margin: 7%;
  }

  .one, .two, .three{
  display: none;
  }
}

@media (max-width: 580px){
  h1{
    font-size: 35px;
  }
  p{
    font-size: 18px;
    line-height: 1.8;
  }
  .nav-link{
    font-size: 18px;
  }
  .btn-custom, .wk-btn {
    font-size: 20px !important;
  }
  .heading, .about {
    width: 90%;
  }
  .circles-bg-1:after{
    top: 20%;
    background: linear-gradient(#EEEEEE 25%, #181A1B 90%);
    clip-path: circle(10% at 95% 80%);
  }
  .circles-bg-1:before{
    top: 70%;
    left: 0;
    background: linear-gradient(#EEEEEE 45%, #181A1B 90%);
    clip-path: circle(5% at 5% 80%);
  }
  .skill-pic{
    width: 20px;
  }
  .cavus{
    width: 15px;
  }

  .sec-head h1{
    font-size: 100px;
    -webkit-text-stroke-width: 1px;
  }
  .hero, .generic-div{
    margin-top: 10%;
  }
  .dev-sk{
    margin-bottom: 0%;
  }
  .list{
    margin-top: 10%;
    padding: 7%;
  }
  .container{
    width: 90%;
  }

  .left h1{
    margin-bottom: 5%;
  }
  .proj-pic {
    margin-top: 5%;
  }

}

@media (max-width: 460px){
  .profile{
    width: 60%;
    margin-bottom: 5%;
  }
  .sec-head h1{
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
  }
  .circles-bg-1:after{
    top: 40%;
    background: linear-gradient(#EEEEEE 15%, #181A1B 90%);
    clip-path: circle(10% at 95% 80%);
  }
  .circles-bg-1:before{
    top: 100%;
    left: 0%;
    background: linear-gradient(#EEEEEE 25%, #181A1B 90%);
    clip-path: circle(5% at 0% 80%);
  }
}

@media (max-width: 370px){
  .profile{
    width: 40%;
    margin-bottom: 5%;
  }
  .sec-head h1{
    font-size: 70px;
    -webkit-text-stroke-width: 1px;
  }
  .list{
    padding: 10%;
  }
  .skill-div .list {
    padding: 10%;
    /* width: 90%; */
  }
  .container{
    width: 90%;
  }
  h1{
    font-size: 30px;
  }
  p{
    font-size: 15px;
    line-height: 1.87;
  }
  .nav-link{
    font-size: 15px;
  }
  .circles-bg-1:before{
    top: 80%;
  }
}


@media (max-width: 300px){
  .profile{
    width: 60%;
    margin-bottom: 5%;
  }
  .sec-head{
    display: none;
  }
  .list {
    margin-top: 5%;
    width: 100%;
    background-image: none;
    box-shadow: none;
    text-align: center;
    backdrop-filter: blur(0px);
    padding: 5%;
  }
  .skill-pic{
    width: 10px;
  }
  .cavus{
    width: 10px;
  }
  h1{
    font-size: 20px;
  }
  .nav-link{
    font-size: 10px;
  }
  p{
    font-size: 10px;
  }
  .btn-custom, .wk-btn{
    font-size: 12px !important;

  }
}
